body {
  padding: 40px;
  background-color: #1b2632;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #d6dde6;

  max-width: 90%;
  margin: 0 auto; /* Center the container */
  padding: 0 16px;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
h1 {
  font-size: 72px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

/* Header */
.header {
  background-color: #1b2632;

  display: flex;
  flex-flow: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.header-items-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.title-header-spacing {
  margin-top: 24px;
  margin-bottom: 24px;
}

/* Cards */

.movie-card {
  display: flex;
  flex-direction: column;
  position: relative; /* Ensure the image can be positioned absolutely */
  padding: 16px;
  background-color: rgba(220, 222, 224, 0.1);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevent the image from overflowing the container */
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(331px, 1fr));
  gap: 16px;
  margin-top: 24px;
}

.image-poster {
  width: 100%;
  height: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover; /* Ensure the image covers the entire container */
}

.movie-description-content {
  padding-bottom: 16px;
}

.movie-ticket-description {
  display: flex;
  width: 100%; /* Ensure it fills the width of the parent */
  padding: 24px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  background-color: #080f17;
}

.movie-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.calification {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.main-button {
  display: inline-flex; /* Use inline-flex to allow the button to hug its content */
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #a7ee43;
  color: #000a14;
  outline: none;
  border: none;

  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  transition: background 0.3s ease; /* Smooth transition for background change */
}

.main-button:hover {
  background: #a9e866; /* Darker shade of green for hover state */
}

/*filter menu*/

.filter-menu {
  display: flex;
  gap: 12px;
}

.filter-menu select,
.filter-menu button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1.5px solid rgba(214, 221, 230, 0.2);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
  color: white;
  background-color: #080f17;
  appearance: none; /* Remove default arrow */
  position: relative;
}

.filter-select {
  padding-right: 32px;
}

.filter-select::after {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: white;
}

.description-movie-component {
  grid-template-columns: 1fr 1fr;
}

.tag-buttons {
  display: flex;
  gap: 8px;
}
.tag-button {
  color: #000a14;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
  border-radius: 8px;
  outline: none;
  border: none;

  display: inline-block;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
}
